.slide1{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.san{
	width: 5rem;
	height: 5rem;
	margin: 30% auto;
	background-color: black;
	position: relative;
}
.san1{
	overflow: hidden;
}
.san1>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
}
.san1>img:nth-child(2){
	display: block;
	position: absolute;
	left: 0rem;
	top: 2.1rem;
	width: 100%;
}
.san1>img:nth-child(3){
	display: block;
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 48%;
}
.san2>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0rem;
	top: 2rem;
	width: 19.5%;
}
.san2>img:nth-child(2){
	display: block;
	position: absolute;
	left: 1.02rem;
	top: 1rem;
	width: 28%;
}
.san2>img:nth-child(3){
	display: block;
	position: absolute;
	left: 1.2rem;
	top: 2.1rem;
	width: 8%;
}
.san2>img:nth-child(4){
	display: block;
	position: absolute;
	left: 1.9rem;
	top: 0rem;
	width: 28%;
}
.san2>img:nth-child(5){
	display: block;
	position: absolute;
	left: 2.6rem;
	top: 0rem;
	width: 13%;
}
.san2>img:nth-child(6){
	display: block;
	position: absolute;
	bottom: -0.13rem;
	right: -0.01rem;
	width: 3.77rem;
	height: 2.1rem;
}
.san3>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0.18rem;
	top: 2.2rem;
	width: 11.5%;
}
.san3>img:nth-child(2){
	display: block;
	position: absolute;
	left: 1rem;
	top: 1.8rem;
	width:4rem;
	height: 3.3rem;
}
.san3>img:nth-child(3){
	display: block;
	position: absolute;
	left: 1.88rem;
	top: 1.96rem;
	width:0.7rem;
	height: 1.45rem;
}
.san3>img:nth-child(4){
	display: block;
	position: absolute;
	left: 1.25rem;
	top: 4.43rem;
/*	width:0.47rem;*/
	height: 0.7rem;
}
.san3>img:nth-child(5){
	display: block;
	position: absolute;
	left: 2.222rem;
	top: 4.43rem;
	/*width:0.47rem;*/
	height: 0.7rem;
}
.san3>img:nth-child(6){
	display: block;
	position: absolute;
	left: 3.11rem;
	top: 4.43rem;
/*	width:0.47rem;*/
	height: 0.7rem;
}
.san3>img:nth-child(7){
	display: block;
	position: absolute;
	left: 3.9rem;
	top: 4.43rem;
	/*width:0.47rem;*/
	height: 0.7rem;
}
.san3>img:nth-child(8){
	display: block;
	position: absolute;
	left: 4.5rem;
	top: 4.43rem;
	/*width:0.47rem;*/
	height: 0.7rem;
}
.s1zi{
	position: absolute;
	left: 2rem;
	top: 9rem;
}
.s1zi img{
	width: 110%;
	display: block;
}
.liuxing>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0.75rem;
	top: 7.5rem;
	z-index: -1;
	width: 60%;
}
.liuxing>img:nth-child(2){
	display: block;
	position: absolute;
	left: 0.2rem;
	top: 2rem;
	z-index: -1;
	width: 100%;
}
.liuxing>img:nth-child(3){
	display: block;
	position: absolute;
	left: 3.75rem;
	top: 1rem;
	z-index: -1;
	width: 40%;
	animation: liuxing1 4s linear infinite;
    /*-webkit-animation: move 2s;
    -webkit-animation-name:liuxing1;
    -webkit-animation-fill-mode:forwards;
     -webkit-animation-iteration-count:5;*/
}
.liuxing>img:nth-child(4){
	display: block;
	position: absolute;
	left: 3.75rem;
	top: 10.5rem;
	z-index: -1;
	width: 50%;
	animation: liuxing2 2s linear infinite;
}
.liuxing>img:nth-child(5){
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 7.3rem;
	z-index: -1;
	width: 20%;
	animation: liuxing3 3s linear infinite;
}
@-webkit-keyframes liuxing1{
	from{left: 7rem;top: 3rem;}
	to{left: -3rem;top: -1rem;}
}
@-webkit-keyframes liuxing2{
	from{left: 9rem;top: 7rem;}
	to{left: -3rem;top: 12rem;}
}
@-webkit-keyframes liuxing3{
	from{left: -1rem;top: 5.5rem;}
	to{left: 7rem;top: 10rem;}
}

.slide6{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png)no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.s61{
	width: 100%;
	height: 37%;
}
.s61>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 1.5rem;
	width: 2.5rem;
	height: 2rem;
}
.s61>img:nth-child(2){
	display: block;
	position: absolute;
	left: 2.3rem;
	top: 1.1rem;
	width: 2.7rem;
	height: 2.6rem;
	z-index: 2;
}
.s61>img:nth-child(3){
	display: block;
	position: absolute;
	left: 4.4rem;
	top: 1.3rem;
	width: 2.7rem;
	height: 2rem;
}
.s6p1{
	display: block;
	position: absolute;
	left: 1.6rem;
	top: 1.9rem;
	font-size: 0.5rem;
	line-height: 1rem;
	font-weight: bold;
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s6p2{
	display: block;
	position: absolute;
	left: 2.8rem;
	top: 3.8rem;
	font-size: 0.3rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s6p3{
	display: block;
	position: absolute;
	left: 2.4rem;
	top: 4.5rem;
	font-size: 0.4rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s62{
	width: 6rem;
	height: 9rem;
	margin: 0 0.1rem;
	position: relative;
	overflow: hidden;
}
.s62>img:nth-child(1){
	width: 1.8rem;
	height: 2.3rem;
	position: absolute;
	left: 1.6rem;
	top: 0.8rem;
}
.s62>img:nth-child(2){
	width: 1.5rem;
	height: 1.8rem;
	position: absolute;
	left: 4rem;
	top: 0.5rem;
}
.s62>img:nth-child(3){
	width: 2.3rem;
	height: 1.9rem;
	position: absolute;
	left: 1.2rem;
	top: 3.4rem;
}
.s62>img:nth-child(4){
	width: 1.9rem;
	height: 2.4rem;
	position: absolute;
	left: 4rem;
	top: 2.9rem;
}
.s62>img:nth-child(5){
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 2rem;
	top: 5.8rem;
}
.s62>img:nth-child(6){
	width: 1.6rem;
	height: 2rem;
	position: absolute;
	left: 4.3rem;
	top: 5.6rem;
}
.s6dian>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0rem;
	top: 1.2rem;
	animation: k1 3s linear infinite;
}
@-webkit-keyframes k1{
	from{left: 0rem;top: 5rem; }
	to{left: 0rem;top: -1rem;}
}
.s6dian>img:nth-child(2){
	display: block;
	position: absolute;
	right: 0rem;
	top: 3rem;
	animation: k2 3s linear infinite;
}
@-webkit-keyframes k2{
	from{right: 0rem;top: -1rem;}
	to{right: 0rem;top: 5rem;}
}
.s6dian>img:nth-child(3){
	display: block;
	position: absolute;
	left: 3.5rem;
	top: 5.3rem;
	z-index: -2;
	animation: k3 2s linear infinite;
}
@-webkit-keyframes k3{
	0%{opacity: 1;}
	25%{opacity: 0.5;}
	50%{opacity: 0;}
	75%{opacity: 0.5;}
	100%{opacity: 1;}
}
.s6dian>img:nth-child(4){
	display: block;
	position: absolute;
	left: 6.5rem;
	top: 7rem;
	animation: k4 2s linear infinite;
}
@-webkit-keyframes k4{
	0%{left:90% ;top:60% ;}
	50%{left:85% ;top: 54%;}
	100%{left:90% ;top: 60%;}
}
.s6dian>img:nth-child(5){
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 12rem;
	animation: k5 3s linear infinite;
}
@-webkit-keyframes k5{
	0%{left:5% ;top:95% ;}
	50%{left:10% ;top:90% ;}
	100%{left:5% ;top:95% ;}
}
.s6dian>img:nth-child(6){
	display: block;
	position: absolute;
	left: 6rem;
	top: 10.3rem;
	animation: k6 2s linear infinite;
}
@-webkit-keyframes k6{
	0%{left: 83%;top:70% ;}
	20%{left: 83%;top:94% ;}
	40%{left: 20%;top:94% ;}
	60%{left: 20%;top:80% ;}
	65%{left: 10%;top:80% ;}
	70%{left: 10%;top:60% ;}
	75%{left: 15%;top:60% ;}
	80%{left: 15%;top:40% ;}
	90%{left: 83%;top:40% ;}
	100%{left:83% ;top:70% ;}
}

.slide8{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png)no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.s81{
	width: 100%;
	height: 100%;
}
.s81>img:nth-child(1){
	display: block;
	position: absolute;
	left: 0.8rem;
	top: 1.5rem;
	width: 2.9rem;
	height: 2rem;
}
.s81>img:nth-child(2){
	display: block;
	position: absolute;
	left: 2.3rem;
	top: 1.1rem;
	width: 2.9rem;
	height: 2.5rem;
	z-index: 2;
}
.s81>img:nth-child(3){
	display: block;
	position: absolute;
	left: 4.3rem;
	top: 1.3rem;
	width: 2.7rem;
	height: 2.5rem;
}
.s8p1{
	display: block;
	position: absolute;
	left: 2.3rem;
	top: 1.9rem;
	font-size: 0.55rem;
	line-height: 1rem;
	font-weight: bold;
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s8p2{
	display: block;
	position: absolute;
	left: 3.3rem;
	top: 3.8rem;
	font-size: 0.32rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s8p3{
	display: block;
	position: absolute;
	left: 3.2rem;
	top: 5.8rem;
	font-size: 0.35rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s8p4{
	display: block;
	position: absolute;
	left: 1.4rem;
	top: 7.8rem;
	font-size: 0.28rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: silver;
	text-align: center;
	z-index: 3;
}

.s81>img:nth-child(6){
	display: block;
	position: absolute;
	left: 2rem;
	top: 4.9rem;
	width: 4rem;
	height: 0.7rem;
}
.s81>img:nth-child(8){
	display: block;
	position: absolute;
	left: 2rem;
	top: 6.8rem;
	width: 3.7rem;
	height: 1rem;
}
.s81>img:nth-child(10){
	display: block;
	position: absolute;
	left: 1rem;
	top: 9.3rem;
	width: 1rem;
	height: 0.5rem;
}
.s81>img:nth-child(11){
	display: block;
	position: absolute;
	left: 0.8rem;
	top: 10.3rem;
	width: 23%;
}
.s81>img:nth-child(12){
	display: block;
	position: absolute;
	left: 2.8rem;
	top: 8.8rem;
	width: 1.7rem;
	height: 1rem;
}
.s81>img:nth-child(13){
	display: block;
	position: absolute;
	left: 2.9rem;
	top: 10.3rem;
	width: 23%;
}
.s81>img:nth-child(14){
	display: block;
	position: absolute;
	left: 5.1rem;
	top: 9.1rem;
	width: 1.7rem;
	height: 0.8rem;
}
.s81>img:nth-child(15){
	display: block;
	position: absolute;
	left: 5rem;
	top: 10.3rem;
	width: 25%;
}

.slide9{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png)no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.s91{
	width: 100%;
	height: 100%;
}
.s9p1{
	display: block;
	position: absolute;
	left: 1.2rem;
	top: 2rem;
	font-size: 0.46rem;
	line-height: 1rem;
	font-weight: bold;
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s9p2{
	display: block;
	position: absolute;
	left: 1.2rem;
	top: 4rem;
	font-size: 0.4rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s9p3{
	display: block;
	position: absolute;
	left: 1.9rem;
	top: 4.7rem;
	font-size: 0.4rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	z-index: 3;
}
.s9p4{
	display: block;
	position: absolute;
	left: 1.6rem;
	top: 10rem;
	font-size: 0.5rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: wheat;
	text-align: center;
	z-index: 3;
}
.s9p5{
	display: block;
	position: absolute;
	left: 1.8rem;
	top: 11.8rem;
	font-size: 0.28rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: silver;
	text-align: center;
	z-index: 3;
}
.s9p6{
	display: block;
	position: absolute;
	left: 3.5rem;
	top: 8.5rem;
	font-size: 0.33rem;
	line-height: 1rem;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	color: silver;
	text-align: center;
	z-index: 3;
}
.s9i1{
	display: block;
	position: absolute;
	left: 0.6rem;
	top: 1.5rem;
	width: 2.9rem;
	height: 2rem;
}
.s9i2{
	display: block;
	position: absolute;
	left: 2.3rem;
	top: 1.1rem;
	width: 2.9rem;
	height: 2.5rem;
	z-index: 2;
}
.s9i3{
	display: block;
	position: absolute;
	left: 4.5rem;
	top: 1.3rem;
	width: 2.7rem;
	height: 2.5rem;
}

.s9i4{
	display: block;
	position: absolute;
	left: 2.8rem;
	top: 8.5rem;
	width: 2.1rem;
	height: 1.5rem;
}
.s9i5{
	display: block;
	position: absolute;
	left: 2.7rem;
	top: 11.3rem;
	width: 2.5rem;
	height: 0.4rem;
	z-index: 2;
}
.s9i6{
	display: block;
	position: absolute;
	right: 0.4rem;
	top: 0.8rem;
	width: 1.1rem;
	height: 0.7rem;
	animation: fenxiang 3s linear infinite;
}
@-webkit-keyframes fenxiang{
	0%{right: 0.4rem;top: 0.8rem;}
	50%{right: 0.4rem;top: 0.5rem;}
	100%{right: 0.4rem;top: 0.8rem;}
}
form{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 5.2rem;
} 
.input{
	width:100%;
	height: 0.5rem;
	margin-top: 0.2rem;
/*	margin-left: 0.6rem;*/
}
label{
	color: white;
	font-family: "微软雅黑";
	font-size: 0.3rem;
}
.input1{
	margin: 0.4rem 0  -0.4rem;
}
.input1 input{
	width: 3.5rem;
	height: 0.6rem;
	border: 1px solid white;
	outline: none;
	background-color: black;
	font-size: 0.24rem;
	margin-left: 0.2rem;
	border-radius: 0.2rem;
}
.input2 input{
	width: 3.5rem;
	height: 0.6rem;
	border: 1px solid white;
	outline: none;
	background-color: black;
	font-size: 0.24rem;
	margin-left: 0.8rem;
	border-radius: 0.2rem;
}